@import "../../sass/_variables"
@import "../../sass/_holsters"

.app-filter-results
    display: flex
    align-items: center
    @extends .h-text-heading-2
    color: $primary

    &__count
        margin-left: 12px

